@model TravelAgency.Models.ToursVM

@{
    ViewBag.Title = "Главная";
}

@foreach (var item in Model.Tours)
{
    <div class="card text-white bg-dark mb-3 ">
        <p class="card-header">@item.Name</p>
        <div class="card-body">
            <p class="card-subtitle mb-2 text-muted">@item.DepartureData : @item.ArrivalDate</p>
            <div class="card-text">
                <p>@item.Price</p>
                <p>@item.HotelType</p>
                <p>@item.PeopleCount</p>
                <p>@item.TourType</p>
            </div>

        </div> 
        <button name="button" id="more-details" type="submit">
            @Html.ActionLink("Забронировать", "ReserveATour", new { id = item.Id })
        </button>
    </div>

}

