@model TravelAgency.Models.UserModel.LoginData
@{
    ViewBag.Title = "Entrance";
}
@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    @Html.LabelFor(x => x.Login)
    @Html.ValidationMessageFor(x => x.Login)
    @Html.TextBoxFor(x => x.Login, new { placeholder = "log" })

    @Html.LabelFor(x => x.Password)
    @Html.ValidationMessageFor(x => x.Password)
    @Html.TextBoxFor(x => x.Password, new { placeholder = "pas " })

    <button type="submit">Отправить</button>
}