@model TravelAgency.Models.Model.ModificationTourVM
@{
    ViewBag.Title = "UpdateTour";
}
@using (Html.BeginForm("UpdateTour", "Administrator", FormMethod.Post))
{
    <div class="col-6">
        <div class="card text-white bg-dark mb-3 ">
            <p class="card-header">@Model.TourVm.Name</p>
            <div class="card-body">
                <p class="card-subtitle mb-2 text-muted">Туда: @Model.TourVm.DepartureData.ToShortDateString() / Обратно:  @Model.TourVm.ArrivalDate.ToShortDateString()</p>
                <div class="card-text">
                    <p>Цена: @Model.TourVm.Price</p>
                    <p>Гостиница: @Model.TourVm.Hotel.Name</p>
                    <p>Тип гостиницы: @Model.TourVm.Hotel.HotelType</p>
                    <p>Адрес гостиницы:</p>
                    <p>Город: @Model.TourVm.Hotel.HotelAddress.City</p>
                    <p>Страна: @Model.TourVm.Hotel.HotelAddress.Country</p>
                    <p>Улица: @Model.TourVm.Hotel.HotelAddress.Street</p>
                    <p>Количество людей: @Model.TourVm.PeopleCount</p>
                    <p>Тип тура: @Model.TourVm.TourType</p>
                    <p>Горячий: @Model.TourVm.Hot</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        @Html.HiddenFor(x=>x.Id)

        <div class="card form text-white bg-dark mb-3 ">
            @Html.LabelFor(x => x.DataCreated.Tour.Name)
            @Html.ValidationMessageFor(x => x.DataCreated.Tour.Name)
            @Html.TextBoxFor(x => x.DataCreated.Tour.Name, new {placeholder = "Имя"})

            @Html.LabelFor(x => x.DataCreated.Tour.ArrivalDate)
            @Html.ValidationMessageFor(x => x.DataCreated.Tour.ArrivalDate)
            @Html.TextBoxFor(x => x.DataCreated.Tour.ArrivalDate, new {placeholder = "Дата отп", type = "date", name = "calendar"})

            @Html.LabelFor(x => x.DataCreated.Tour.DepartureData)
            @Html.ValidationMessageFor(x => x.DataCreated.Tour.DepartureData)
            @Html.TextBoxFor(x => x.DataCreated.Tour.DepartureData, new {placeholder = "Дата отп", type = "date", name = "calendar"})

            @Html.LabelFor(x => x.DataCreated.Tour.PeopleCount)
            @Html.ValidationMessageFor(x => x.DataCreated.Tour.PeopleCount)
            @Html.TextBoxFor(x => x.DataCreated.Tour.PeopleCount, new {placeholder = "Дата отп"})

            @Html.LabelFor(x => x.DataCreated.Tour.Price)
            @Html.ValidationMessageFor(x => x.DataCreated.Tour.Price)
            @Html.TextBoxFor(x => x.DataCreated.Tour.Price, new {placeholder = "Дата отп"})

            <div class="form-check">
                <input class="form-check-input" id="DataCreated.Tour.Hot" name="DataCreated.Tour.Hot" value="true" type="checkbox" checked/>
                <label class="form-check-label" for="DataCreated.Tour.Hot">Hot</label><br/>
            </div>

            @Html.DropDownListFor(m => m.DataCreated.Tour.TourTypeId, Model.DataCreated.TourTypeSelect)

            @Html.DropDownListFor(m => m.DataCreated.Tour.HotelId, Model.DataCreated.HotelsSelect)

            <button type="submit">Отправить</button>
        </div>

    </div>
}
